/******************
     CSS Reset
******************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Playfair Display";
  font-display: swap;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/******************
      Custom
******************/

/* Color Palette: https://colorpalettes.net/color-palette-4351/ */
body {
  --primary: #fef4e9;
  --secondary: #435d6e;
  --accent: #e7dbca;
  --accent2: #57483b;
  --accent3: #778b96;
  --color1: white;
  --color2: black;
  --dayTime: linear-gradient(to right bottom, black, blue);
  --moon: white;
  background: linear-gradient(var(--primary), var(--accent3));
}

.dark-mode {
  --primary: #435d6e;
  --secondary: #778b96;
  --accent: #e7dbca;
  --accent2: #fef4e9;
  --accent3: #57483b;
  --color1: rgb(0, 0, 0);
  --color2: rgb(255, 255, 255);
  --dayTime: linear-gradient(to right bottom, orange, yellow);
  --moon: black;
}
h1,
h2,
h3,
h4,
a,
p {
  color: var(--color2);
}
svg text,
svg polygon {
  stroke: var(--accent2);
}
@keyframes animatedBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/******************
        Nav
******************/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 10px black;
}
.logo svg {
  height: 5rem;
  width: 5rem;
}

.navLinks {
  display: flex;
  flex-direction: row;
}
.navLinks li {
  list-style: none;
  display: flex;
  padding: 0.5rem;
}
.header > div > a,
.navLinks a {
  text-decoration: none;
  padding: 0.5rem;
}
.light {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  background-image: var(--dayTime);
  color: var(--color1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px black;
}
.logo > svg > text:hover {
  stroke: var(--color2);
  fill: var(--color2);
}
.logo > svg > polygon:hover {
  stroke: var(--accent3);
}
.navLinks a:hover {
  background-color: var(--accent);
  color: black;
  border-radius: 0 30%;
}
#darkIcon {
  color: var(--moon);
}
/******************
       Hero
******************/
.hero {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 2rem 4rem 4rem 4rem;
}
.hero > div:first-child {
  width: 60%;
  padding-left: 1rem;
}
.preIntro {
  background-color: var(--accent);
  color: black;
  width: 8rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}

.iam {
  font-size: 4.5rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
}
.name {
  display: flex;
  align-items: center;
}
.vert {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(0.5turn);
  font-size: 6rem;
  margin-bottom: 0.4rem;
}

.intro {
  font-size: 9rem;
  margin-left: -1.4rem;
}
.desc {
  font-size: 1.75rem;
  font-weight: 800;
}
.aboutButtons {
  margin-top: 20px;
}
.aboutButtons a {
  text-decoration: none;
}

.aboutButton {
  margin-left: 3rem;
  padding: 0.3rem;
  width: 110px;
  border-radius: 15px;
  color: var(--color1);
  background-image: linear-gradient(to left, var(--accent), var(--accent2));
  border: 1px solid var(--accent2);
}
.aboutButton:hover {
  background-image: linear-gradient(to right, var(--accent), var(--accent2));
  color: var(--color1);
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.svg2,
.svg4 {
  transform: translateY(-5rem);
  margin: 0 -3.5rem;
}
.svg1,
.svg3,
.svg5 {
  transform: translateY(5rem);
}
.scanner:before {
  content: " Cameron ";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 0%;
  border-bottom: 1px solid var(--accent);
  overflow: hidden;
  color: var(--accent);
  animation: load 4s linear infinite;
}
@keyframes load {
  0%,
  10%,
  100% {
    height: 0;
  }
  60%,
  80% {
    height: 100%;
  }
}
/******************
       About
******************/
.about {
  padding: 2rem 4rem 4rem 4rem;
}
.banner {
  margin-top: 2rem;
  background-color: var(--accent);
  color: black;
  width: 8rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
#aboutMe p:not(:first-child) {
  margin-bottom: 2rem;
}
#aboutMe h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
.aboutMeLink {
  color: var(--accent2);
}
.aboutMeLink:hover {
  color: var(--accent);
}
.hero-about {
  margin-top: 3rem;
}
video {
  width: 100%;
  margin-top: 1rem;
}
/******************
       Skills
******************/
#skills {
  padding: 2rem 4rem 4rem 4rem;
  width: 100%;
}
#skills h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}
.skillOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.frontend,
.backend {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  background-color: var(--secondary);
  transition: 0.3s ease-in-out;
  border: 1px solid var(--accent3);
  align-items: center;
  border-radius: 8px;
  text-align: center;
}
.frontend:hover,
.backend:hover,
.frontend:focus,
.backend:focus {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 4px 4px 5px var(--accent2);
}
.frontend h3,
.backend h3 {
  font-size: 1.25rem;
  margin: 1rem;
}
.skillOptions h3 {
  color: var(--accent);
}
.skillOptions p {
  color: white;
}
.skillOptions h4 {
  font-size: 1rem;
  color: var(--accent);
  margin-top: 1rem;
}
/******************
       Work
******************/
#work {
  padding: 2rem 4rem 4rem 4rem;
}
#work h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--accent2);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: var(--accent2);
  border: 4px solid var(--accent);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--primary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--primary);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--primary);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid var(--primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--primary) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/******************
      Contact
******************/

#contact {
  padding: 2rem 4rem 4rem 4rem;
  width: 100%;
}
#contact h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
  margin-bottom: 2rem;
  color: white;
}
.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContent p {
  color: white;
}

.contactContent ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contactContent ul li {
  color: white;
  list-style-type: "⬢";
  padding-left: 1rem;
}
.contactContent a {
  margin-top: 3rem;
  padding: 0.3rem;
  width: 110px;
  border-radius: 15px;
  color: var(--color1);
  background-image: linear-gradient(to left, var(--accent), var(--accent2));
  border: none;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 5px black;
}
.contactContent a:hover {
  background-image: linear-gradient(to right, var(--accent), var(--accent2));
}
/******************
       Footer
******************/
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.shortScreen {
  position: relative;
  bottom: 0;
  width: 100%;
}
.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 400px;
  padding-left: 0;
  margin-bottom: 0;
}
.socialIcons li {
  display: inline-block;
  list-style: none;
  margin: 0 3rem;
}
.socialIcons li a {
  text-decoration: none;
}
.socialIcons li a i {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.socialIcons li a i:hover {
  color: var(--accent);
}
.footer div {
  margin-left: auto;
  margin-right: auto;
}
.copy {
  color: white;
}

/**********************************************
                 Contact Form
**********************************************/

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.heading div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin-top: 2rem;
}
.contact-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 0 0 8px 8px;
  background-color: var(--primary);
  box-shadow: 2px 0 10px var(--accent2);
}
.contact-header > div > a,
.navLinks a {
  text-decoration: none;
  color: var(--color2);
  padding: 0.5rem;
}
.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 4rem auto;
  background-color: var(--primary);
  border-radius: 8px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
form div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 80%;
  padding: 10px;
}
form div label {
  color: var(--color2);
  transform: translate(5px, 30px);
  transition: all 0.4s ease-in-out;
  font-size: 1.2rem;
}
.is-active {
  transform: translate(0);
  font-size: 1rem;
}
form div input,
form div textarea {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid var(--accent);
  color: var(--color2);
  z-index: 1;
}
form div input:focus,
form div textarea:focus {
  outline: none;
}

form div button {
  margin-top: 10px;
  width: 100px;
  border-radius: 15px;
  align-self: center;
  color: var(--color1);
  background-image: linear-gradient(to left, var(--accent), var(--accent2));
  border: none;
  box-shadow: 0 0 5px black;
}
form div button:hover,
form div button:focus {
  background-image: linear-gradient(to right, var(--accent), var(--accent2));
}
.status {
  color: var(--color2);
  align-self: center;
  margin-top: 5px;
  text-align: center;
}

/**********************
       About Page
**********************/
.about-hero {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 2rem 0 0 1rem;
  align-items: center;
}
.about-hero > div > h1 {
  font-size: 2rem;
}
.about-pics {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 20vh;
  margin: 2rem 0;
}
.about-pics svg {
  width: 20%;
}
.svg6,
.svg8,
.svg10 {
  transform: translateY(-2rem);
}
.svg7,
.svg9 {
  transform: translateY(2rem);
  margin: 0 -0.5rem;
}
.blahblah {
  display: flex;
  margin: 3rem auto;
  padding: 1rem;
  width: 90%;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
  background-color: var(--primary);
}
.blahblah div {
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}
.heart,
.century,
.anime {
  display: flex;
  height: auto;
  justify-content: center;
}
.heart > p {
  width: 60%;
}
.anime > p {
  width: 60%;
}
.svg11 {
  width: 40%;
  padding: 0.5rem;
}
.svg12 {
  width: 40%;
  padding: 0.5rem;
}
.projects {
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem auto;
  border-radius: 8px;
  width: 90%;
  padding: 1rem;
  background-color: var(--primary);
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-title > p {
  margin-top: 1rem;
}
/*******************
      Projects
*******************/
ul,
li {
  list-style: none;
}
ul {
  padding: 0;
}
.accordion {
  width: 100%;
  background: var(--secondary);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  color: var(--accent);
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid var(--color1);
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2rem;
  color: var(--accent);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 1rem;
  left: auto;
}

.accordion li.open .link {
  color: var(--color1);
}

.accordion li.open i {
  color: var(--color1);
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*******************
      Submenu
*******************/

.submenu {
  display: none;
  background: var(--secondary);
  padding: 1rem;
  border: 1rem solid var(--secondary);
}
.submenu a {
  padding-top: 1rem;
  color: var(--accent);
}
.submenu p {
  color: white;
}

/***************
Media Queries
***************/
@media (max-width: 703px) {
  .skillOptions {
    flex-direction: column;
  }
  .frontend,
  .backend {
    width: 100%;
  }
  .backend {
    margin-top: 1.5rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-left: 1rem;
  }
  .hero > div:first-child {
    width: 100%;
  }
  .intro {
    font-size: 7rem;
    margin-left: -0.9rem;
  }
  .name {
    align-items: left;
  }
  .iam {
    font-size: 7rem;
  }
  .vert {
    font-size: 1rem;
  }
  .me {
    align-self: center;
  }
  .svg1 {
    display: flex;
    width: 70%;
    transform: translate(0);
    margin: 2rem 0;
  }
  .svg2,
  .svg3,
  .svg4,
  .svg5 {
    display: none;
  }
  form div {
    width: 100%;
  }
  .intro-about {
    font-size: 3rem;
    margin: 2rem 1rem;
  }
  .desc-about {
    font-size: 2rem;
    margin: 0 1rem;
    padding-bottom: 2rem;
    color: var(--accent2);
  }
  .contact-main {
    width: 90%;
  }
}
@media (min-width: 704px) {
  .svg1,
  .svg2 {
    display: flex;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
  }
  .svg3,
  .svg4,
  .svg5 {
    display: none;
  }
  .intro {
    font-size: 6rem;
    margin-left: -0.8rem;
  }
  .vert {
    font-size: 0.9rem;
  }
  .about-hero > div > h1 {
    font-size: 3rem;
  }
  .blahblah p,
  .project-title p,
  .link,
  .submenu p,
  .submenu a {
    font-size: 1.5rem;
  }
  .project-title > h2 {
    font-size: 2rem;
  }
  .heart > p {
    width: 70%;
  }
  .anime > p {
    width: 70%;
  }
  .svg11 {
    width: 30%;
    padding: 0.5rem;
  }
  .svg12 {
    width: 30%;
    padding: 0.5rem;
  }
  .contact-main {
    width: 90%;
  }
}
@media (min-width: 820px) {
  .heading {
    margin-top: 3rem;
  }
  form div {
    width: 80%;
  }
  .svg1,
  .svg2,
  .svg3 {
    display: flex;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
  }
  .svg4,
  .svg5 {
    display: none;
  }
  .intro {
    font-size: 6rem;
  }
  .vert {
    font-size: 0.9rem;
  }
  .heart > p {
    width: 80%;
  }
  .anime > p {
    width: 80%;
  }
  .svg11 {
    width: 20%;
    padding: 0.5rem;
  }
  .svg12 {
    width: 20%;
    padding: 0.5rem;
  }
  .blahblah {
    margin-top: 2rem;
  }
  .accordion {
    width: 60%;
    margin: 2rem auto;
  }
  section {
    padding: 0 2rem;
  }
  .contact-main {
    width: 80%;
  }
}
@media (min-width: 1150px) {
  .svg1,
  .svg2,
  .svg3,
  .svg4 {
    display: flex;
    width: 30%;
    height: 50%;
    align-self: center;
    justify-self: center;
  }
  .svg5 {
    display: none;
  }
  .intro {
    font-size: 9rem;
    transform: translateX(-0.5rem);
  }
  .vert {
    font-size: 1.4rem;
  }
  .about-hero > div > h1 {
    font-size: 4rem;
  }
  .blahblah p,
  .project-title p,
  .link,
  .submenu p,
  .submenu a {
    font-size: 1.5rem;
  }
  .project-title > h2 {
    font-size: 3rem;
  }
  section {
    padding: 0 3rem;
  }
  .contact-main {
    width: 70%;
  }
}
@media (min-width: 1350px) {
  .svg1,
  .svg2,
  .svg3,
  .svg4,
  .svg5 {
    display: flex;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
  }
  .intro {
    font-size: 12rem;
    transform: translateX(-1rem);
  }
  .vert {
    font-size: 1.8rem;
  }
  .contact-main {
    width: 60%;
  }
  .hero {
    padding: 6rem 4rem 4rem 4rem;
  }
}
