/******************
     CSS Reset
******************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/******************
      Custom
******************/
body {
  --primary: rgb(79, 85, 91);
  --secondary: rgb(43, 45, 47);
  --accent: rgba(92, 168, 255, 0.7);
  --accent2: rgb(255, 251, 0);
  --accent3: orange;
  --color1: rgb(255, 255, 255);
  --color2: rgb(0, 0, 0);
  --dayTime: linear-gradient(to right bottom, orange, yellow);
  --moon: rgb(0, 0, 0);
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Nanum Myeongjo", serif;
}

.light-mode {
  --primary: rgb(250, 249, 246);
  --secondary: rgb(255, 255, 255);
  --accent: rgba(92, 168, 255, 0.9);
  --accent2: blue;
  --accent3: rgb(0, 0, 0);
  --color1: rgb(0, 0, 0);
  --color2: rgb(255, 255, 255);
  --dayTime: linear-gradient(to right bottom, black, blue);
  --moon: rgb(255, 255, 255);
}
h1,
h2,
h3,
h4,
a,
p {
  color: var(--color1);
}
svg text,
svg polygon {
  stroke: var(--accent2);
}

/******************
        Nav
******************/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.logo svg {
  height: 5rem;
  width: 5rem;
}

.navLinks {
  display: flex;
  flex-direction: row;
}
.navLinks li {
  list-style: none;
  display: flex;
  padding: 0.5rem;
}
.header > div > a,
.navLinks a {
  text-decoration: none;
  color: var(--color1);
  padding: 0.5rem;
}
.light {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  background-image: var(--dayTime);
  color: var(--color1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px black;
}
.logo > svg > text:hover {
  stroke: var(--color2);
  fill: var(--color2);
}
.logo > svg > polygon:hover {
  stroke: var(--accent3);
}
.navLinks a:hover {
  background-color: var(--accent);
  color: var(--color2);
  border-radius: 0 30%;
}
#lightIcon {
  color: var(--moon);
}
/******************
       Hero
******************/
.hero {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 2rem 2rem 2rem 6rem;
}
.hero > div:first-child {
  width: 60%;
  padding-left: 1rem;
}
.hero div p:first-child {
  background-color: var(--accent);
  color: var(--color2);
  width: 8rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
.hero > div > h2 {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
}
.name {
  display: flex;
  align-items: center;
}
.vert {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(0.5turn);
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}
.intro {
  font-size: 9rem;
  margin-left: -1.4rem;
}
.desc {
  font-size: 1.75rem;
  font-weight: 800;
}
.aboutButtons {
  margin-top: 20px;
}
.aboutButtons a {
  text-decoration: none;
}
.hangul {
  color: var(--accent2);
}
.hangul:hover {
  color: var(--accent);
}
.aboutButton {
  margin-left: 3rem;
  padding: 0.3rem;
  width: 110px;
  border-radius: 15px;
  color: var(--color2);
  background-color: var(--accent);
  border: none;
}
.aboutButton:hover {
  background-color: var(--accent2);
}

.me {
  display: flex;
  justify-content: center;
  width: 80%;
}

.svg1,
.svg3,
.svg5 {
  transform: translatey(7rem);
  width: 100%;
}
.svg2,
.svg4 {
  transform: translatey(-6rem);
  margin: 0 -7rem;
  width: 100%;
}

@media (max-width: 527px) {
  .hero > div:first-child {
    width: auto;
  }
  .svg1 {
    transform: translatey(0);
    margin-top: 3rem;
  }
  .svg2,
  .svg3,
  .svg4,
  .svg5 {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
  }
  .intro {
    font-size: 7rem;
    margin-left: -0.9rem;
  }
  .intro-kr {
    font-size: 3.5rem;
  }
  .vert {
    font-size: 0.95rem;
    color: var(--accent2);
  }
}

/******************
       About
******************/
.about {
  background-color: var(--secondary);
  padding: 2rem 4rem 4rem 4rem;
}
#aboutMe p:first-child {
  margin-top: 2rem;
  background-color: var(--accent);
  color: var(--color2);
  width: 8rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
#aboutMe p:not(:first-child) {
  margin-bottom: 2rem;
}
#aboutMe h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
.aboutMeLink {
  color: var(--accent2);
}
/******************
       Skills
******************/
#skills {
  background-color: var(--primary);
  padding: 2rem 4rem 4rem 4rem;
  width: 100%;
}
#skills p:first-child {
  margin-top: 2rem;
  background-color: var(--accent);
  color: var(--color2);
  width: 9rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
#skills h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}
.skillOptions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.frontend,
.backend {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  background-color: var(--secondary);
  transition: 0.3s ease-in-out;
  border: 1px solid var(--accent);
  align-items: center;
}
.frontend:hover,
.backend:hover,
.frontend:focus,
.backend:focus {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 4px 4px 0 var(--accent2);
}
.frontend h4,
.backend h4 {
  font-size: 1.25rem;
  margin: 1rem;
}
.skillOptions h4 {
  color: var(--accent2);
}
.skillOptions p {
  color: var(--color1);
}
.skillOptions h6 {
  font-size: 1rem;
  color: var(--accent);
}
/******************
       Work
******************/
#work {
  background-color: var(--secondary);
  padding: 2rem 4rem 4rem 4rem;
}
#work p:first-child {
  margin-top: 2rem;
  background-color: var(--accent);
  color: var(--color2);
  width: 12rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
#work h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--accent2);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: var(--primary);
  border: 4px solid var(--accent);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--primary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--primary);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--primary);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid var(--primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--primary) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/******************
      Contact
******************/

#contact {
  background-color: var(--primary);
  padding: 2rem 4rem 4rem 4rem;
  width: 100%;
}
#contact > p:first-child {
  margin-top: 2rem;
  background-color: var(--accent);
  color: var(--color2);
  width: 9rem;
  padding: 3px;
  text-align: center;
  border-radius: 0 30%;
}
#contact h2 {
  margin-top: 3rem;
  font-size: 2.75rem;
  margin-bottom: 2rem;
}
.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContent ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contactContent ul li {
  color: var(--accent2);
}
.contactContent a {
  margin-top: 3rem;
  padding: 0.3rem;
  width: 110px;
  border-radius: 15px;
  color: var(--color2);
  background-color: var(--accent);
  border: none;
  text-align: center;
  text-decoration: none;
}
.contactContent a:hover {
  background-color: var(--accent2);
}
/******************
       Footer
******************/
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  background-color: var(--secondary);
}
.shortScreen {
  position: relative;
  bottom: 0;
  width: 100%;
}
.socialIcons {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 400px;
}
.socialIcons li {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  list-style: none;
  margin: 0 3rem;
}
.socialIcons li a svg {
  stroke: var(--color1);
}
.socialIcons li a svg:hover {
  stroke: var(--accent2);
}
.footer div {
  margin-left: auto;
  margin-right: auto;
}

/**********************************************
                 Contact Form
**********************************************/

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.heading div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
form div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 60%;
  padding: 10px;
}
form div label {
  color: var(--color1);
  transform: translate(5px, 30px);
  transition: all 0.4s ease-in-out;
  font-size: 1.2rem;
}
.is-active {
  transform: translate(0);
  font-size: 1rem;
}
form div input,
form div textarea {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid var(--accent2);
  color: var(--color1);
  z-index: 1;
}
form div input:focus,
form div textarea:focus {
  outline: none;
}

form div button {
  margin-top: 10px;
  width: 100px;
  border-radius: 15px;
  align-self: center;
  color: var(--color2);
  background-color: var(--accent);
  border: none;
}
.status {
  color: var(--color1);
  align-self: center;
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 1350px) {
}
@media (min-width: 1150px) {
}
@media (max-width: 1150px) {
}
@media (max-width: 820px) {
  .skillOptions {
    flex-direction: column;
  }
  .frontend,
  .backend {
    width: 100%;
  }
  .backend {
    margin-top: 1.5rem;
  }
  .heading {
    margin-top: 3rem;
  }
  form div {
    width: 80%;
  }
}
@media (max-width: 704px) {
}
@media (max-width: 586px) {
  form div {
    width: 100%;
  }
}
